<h1>Browser Battle</h1>
<h2>Enter the names of the challengers!</h2>
  
  <form action="/names" method="post">
    <label for="name_1">Player 1:
      <input type="text" name="name_1"/>
    </label>
    <label for="name_2">Player 2:
      <input type="text" name="name_2"/>
    </label>
      <input type="submit" value="Submit"/>
  </form>

