<h2 style=
  "float: left;
  display: block;
  padding-left: 50px;
  color: red; 
  font-family: 'Verdana'">
  <%= @name_1 %> takes the red corner!
</h2>
<h2 style=
  "float: right; 
  padding-right: 50px;
  display: block;
  color: blue;
  font-family: 'Verdana">
  <%= @name_2 %> takes the blue corner!
</h2>
